.auth-wrapper {
    height:100vh;
    background-color: #d7d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-form {
    width:400px;
    padding:15px;
    background-color:#ffffff;
}